@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5; 
  
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: #333;
  
  overflow-y: scroll; 
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}