.clock-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    
}
h2{
    text-align: center;
}
hr {
    margin: 20px 0; 
    border: 0; 
    border-top: 1px solid #ccc;
}