.clock-card {
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  box-shadow: lightgray 4px 4px 20px;
  h2 {
    margin-bottom: 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  div{
    text-align: end;
  }
  div button{
    border: 1px solid transparent;
    background: transparent;
    border-radius: 30%;
    font-size: 12px;
    cursor: pointer;
  }
}

.status-ok {
  border-left: 5px solid green;
}

.status-error {
  border-left: 5px solid red;
}

.status-off {
  background-color: #959595;
  border-left: 5px solid #565555;
  color: #565555;
}